@model IEnumerable<NewarkITStore.Models.BasketItem>

@{
    var subtotal = Model.Sum(i => i.Quantity * i.PricePerUnit);
    var tax = subtotal * 0.10M;
    var total = subtotal + tax;
}

<div class="d-flex justify-content-end">
    <div class="card" style="min-width: 300px; max-width: 400px;">
        <div class="card-body card  mt-8  col-md-12">
            <h5 class="card-title">Summary</h5>
    <p>Subtotal: $@subtotal.ToString("0.00")</p>
    <p>Sales Tax (10%): $@tax.ToString("0.00")</p>
    <hr />
    <p><strong>Grand Total: $@total.ToString("0.00")</strong></p>
    <form asp-action="Checkout" method="post">
    @Html.AntiForgeryToken()
      <a asp-action="CheckoutReview" class="btn btn-success w-100">Check Out</a>
</form>
</div>
</div>
</div>
