@model NewarkITStore.Models.CreditCard
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Add New Credit Card";
    var states = new List<SelectListItem>
    {
        new("Choose State", ""), new("New Jersey", "New Jersey"), new("New York", "New York"),
        new("California", "California"), new("Texas", "Texas")
    };
    var countries = new List<SelectListItem>
    {
        new("Choose Country", ""), new("United States", "United States"), new("Canada", "Canada"),
        new("United Kingdom", "United Kingdom")
    };
    var cardTypes = new List<SelectListItem>
    {
        new("Select Card Type", ""), new("Visa", "Visa"), new("MasterCard", "MasterCard"), new("Amex", "Amex")
    };
}

@* <h2>@ViewData["Title"]</h2> *@

@* @if (!ViewData.ModelState.IsValid) *@
@* { *@
@*     <div class="alert alert-danger"> *@
@*         <strong>Form has errors:</strong> *@
@*         <ul> *@
@*             @foreach (var modelState in ViewData.ModelState) *@
@*             { *@
@*                 if (modelState.Value.Errors.Count > 0) *@
@*                 { *@
@*                     <li><strong>@modelState.Key:</strong> @modelState.Value.Errors[0].ErrorMessage</li> *@
@*                 } *@
@*             } *@
@*         </ul> *@
@*     </div> *@

<form asp-action="Create" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="CardNumber" class="form-label">Card Number</label>
            <input asp-for="CardNumber" class="form-control" maxlength="16" />
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="SecurityCode" class="form-label">Security Code (CVV)</label>
            <input asp-for="SecurityCode" class="form-control" maxlength="3" />
            <span asp-validation-for="SecurityCode" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CardType" class="form-label">Card Type</label>
            <select asp-for="CardType" class="form-select" asp-items="cardTypes"></select>
            <span asp-validation-for="CardType" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="CardHolderName" class="form-label">Name on Card</label>
            <input asp-for="CardHolderName" class="form-control" />
            <span asp-validation-for="CardHolderName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ExpiryDate" class="form-label">Expiration Date</label>
            <input asp-for="ExpiryDate" class="form-control" placeholder="MM/YY" />
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>
    </div>

    <h4>Billing Address</h4>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="BillingStreet" class="form-label">Street Address</label>
            <input asp-for="BillingStreet" class="form-control" />
            <span asp-validation-for="BillingStreet" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="BillingCity" class="form-label">City</label>
            <input asp-for="BillingCity" class="form-control" />
            <span asp-validation-for="BillingCity" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="BillingState" class="form-label">State</label>
            <select asp-for="BillingState" class="form-select" asp-items="states"></select>
            <span asp-validation-for="BillingState" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="BillingZip" class="form-label">ZIP Code</label>
            <input asp-for="BillingZip" class="form-control" />
            <span asp-validation-for="BillingZip" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="BillingCountry" class="form-label">Country</label>
            <select asp-for="BillingCountry" class="form-select" asp-items="countries"></select>
            <span asp-validation-for="BillingCountry" class="text-danger"></span>
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary">Save Credit Card</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
